{% load static %}
    <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="footer_widget text-center ">
                                <h3 class="footer_title pos_margin">
                                        Київ
                                </h3>
                                 <p>Троєщина, зелена галявина <br>
                                        за поворотом біля 6-ї авеню <br>
                                        <a href="#">info@fastfood.com</a></p>
                                <a class="number" href="#">+068 444 44 44</a>

                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="footer_widget text-center ">
                                <iframe height="350" width="350" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20327.713671901525!2d30.47092167036132!3d50.44176731998439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6184e2d09cb9efd!2sIT%20Step%20Academy!5e0!3m2!1sru!2sua!4v1653512203915!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12 col-lg-4">
                                <div class="footer_widget">
                                        <h3 class="footer_title">
                                                Залишайтесь на зв'язку :)
                                        </h3>
                                        <form action="/subscribe" class="newsletter_form" method="post">
                                            {% csrf_token %}
                                                {% if not user.is_authenticated %}
                                                {% else %}
                                                    <input type="email" id="email1" name="email" placeholder="Введіть email" required>
                                                    <button type="submit">Підписатись</button>
                                                {% endif %}
                                        </form>
                                        <p class="newsletter_text">Залишайтеся на зв'язку з нами, щоб отримати ексклюзивну пропозицію!</p>
                                    </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="socail_links text-center">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                Зроблено командою розробки з Києва! 2022 рік!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

