{% load static %}
<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-5">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">Головна</a></li>
                                        <li><a href="">Меню</a></li>
                                        <li><a href="#">Про компанію</a></li>
                                        <li><a href="#">Контанкти</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                            <div class="book_room pull">
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {% if not user.is_authenticated %}
                                <div class="book_btn d-none d-xl-block">
                                    <ul>
                                        <li>
                                            <a class="#"  href="#">+38-093-444-44-44</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-xl-block 1">
                                    <ul>
                                        <div class="book_btn d-none d-xl-block 1">
                                            <li>
                                                <a href="/accounts/sign_in">
                                                    <i class="fa fa-user-circle-o">Вхід</i>
                                                </a>
						                    </li>
                                        </div>
                                    </ul>
                                </div>
                                {% else %}
                                <div class="book_btn d-none d-xl-block 1">
                                    <li>
                                        <a href="/accounts/profile.html">
                                            <i class="fa fa-user-circle-o"> {{ user.username }}</i>
                                        </a>
                                    </li>
                                </div>
                                <div class="book_btn d-none d-xl-block 1">
                                    <li>
                                        <a href="/accounts/sign_out">
                                            <i class="fa fa-sign-out"> Вихід</i>
                                        </a>
                                    </li>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>