{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
    <div class="bradcam_area breadcam_bg overlay">
        <h3>МЕНЮ</h3>
    </div>

    <div class="menu_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Наше смачне меню :)</span>
                        {% if user.username == 'vosochenko' %}
                        <p><button>Додати нову позицію</button></p>
                        {% endif %}
                        <span>Бургери!</span>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="row">
                    {% for p in burger_obj %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/media/{{p.picture}}" alt="" style="width:100%">
                            <h1>{{p.name}}</h1>
                            <p class="price">{{p.price}} грн.</p>
                            <p>{{p.about}}</p>
                            <p><button>Додати в корзину</button></p>
                            {% if user.username == 'vosochenko' %}
                            <p><button>Корегувати товар</button></p>
                            <p><button>Видалити товар</button></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Снеки!</span>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="row">
                   {% for p in sneks_obj %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/media/{{p.picture}}" alt="" style="width:100%">
                            <h1>{{p.name}}</h1>
                            <p class="price">{{p.price}} грн.</p>
                            <p><button>Додати в корзину</button></p>
                            {% if user.username == 'vosochenko' %}
                            <p><button>Корегувати товар</button></p>
                            <p><button>Видалити товар</button></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Десерти!</span>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="row">
                    {% for p in desert_obj %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/media/{{p.picture}}" alt="" style="width:100%">
                            <h1>{{p.name}}</h1>
                            <p class="price">{{p.price}} грн.</p>
                            <p><button>Додати в корзину</button></p>
                            {% if user.username == 'vosochenko' %}
                            <p><button>Корегувати товар</button></p>
                            <p><button>Видалити товар</button></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Напої!</span>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="row">
                    {% for p in desert_obj %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/media/{{p.picture}}" alt="" style="width:100%">
                            <h1>{{p.name}}</h1>
                            <p class="price">{{p.price}} грн.</p>
                            <p><button>Додати в корзину</button></p>
                            {% if user.username == 'vosochenko' %}
                            <p><button>Корегувати товар</button></p>
                            <p><button>Видалити товар</button></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 300px;
          margin: auto;
          text-align: center;
          font-family: arial;
          margin-bottom: 10px;
        }

        .price {
          color: grey;
          font-size: 22px;
        }

        .card button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #FF8C00;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }

        .card button:hover {
          opacity: 0.7;
        }
    </style>
{% endblock content %}