{% extends 'layouts/base.html' %}

{% block content %}
    {% load static %}
    <div class="bradcam_area breadcam_bg overlay">
        <h3>Відгуки</h3>
    </div>
<div class="testimonial_area ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60 text-center">
                        <span>Відгуки</span>
                        <h3>Щасливі клієнти :)</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                        <div class="col-xl-12">
                            <div class="testmonial_active owl-carousel">
                                {% for com in all_comments %}
                                <div class="single_carousel">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <div class="single_testmonial text-center">
                                                <p>“{{ com.comment }}</p>
                                                <div class="testmonial_author">
                                                    <div class="thumb">
                                                        <img src="{% static 'img/testmonial/1.png' %}" alt="">
                                                    </div>
                                                    <h4>{{ com.user }}</h4>
                                                    <div class="stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        {% if user.is_authenticated %}
<div class="container" style="text-align: center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
					<form id="form-1" action="/contact/write_review" method="post">
						{% csrf_token %}
						<p>
                            <br>
							<label for="text">Ваш відгук буде дуже корисним для нас : </label><br>
							<input size="50" type="text" id="text" name="text" class="inp" required>
							<span id="login_err" class="error"></span>
						</p>
						<p>
							<input type="submit" id="submit" value="Відправити" class="btn btn-success b">
							<input type="reset" id="reset" value="Очистити" class="btn btn-danger b">
                            <br><br>
						</p>
					</form>
				</div>
			</div>
		</div>
    </div>
</div>
        {% endif %}

{% endblock content %}