{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<div class="bradcam_area breadcam_bg_1 overlay">
    <h3 style="height: 100%">Кошик</h3>
</div>
  <div class="shopping-cart">
      <div class="title">
        Ваші товари:
      </div>
      <div class="cart-item" id="cart-item">
          {% for order in user_orders %}
          <div class="item">
              <div class="buttons">
                  <input type="hidden" value="{{order.id}}">
                  <span class="delete-btn"></span>
                  <span class="like-btn"></span>
              </div>
              <div class="photoBorder" style="align=center;">
                  <img align="center" src="/media/{{ order.product.picture }}" alt="" class="photoImage"/>
              </div>
              <div class="description">
                  <span>{{ order.product.name }}</span>
              </div>
              <div class="price_cell" >{{ order.amount }} грн</div>
          </div>
        {% endfor %}
      </div>
      <div>
          <h5>Загальна сума до сплати: &nbsp;
              <span id="total" style="color: red">0.00 грн</span>
          </h5>
      </div>
  </div>
<p style="margin-left: 1075px; margin-top: -55px">
  <a id="bill-btn" href="/accounts/profile" class="btn btn-success">Перейти до оформлення</a>
</p>


<style>

    .photoBorder {
          width: 100px;
          height: 65px;
        }

    .photoImage {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          max-height: 100%;
          max-width: 100%;
          display: block;
          margin: auto;
        }

    * {
      box-sizing: border-box;
    }

    h5 {
      margin-top: 1%;
      text-align: right;
      font-family: 'Roboto', sans-serif;
      margin-right: 15px;
    }
    .bradcam_area {
      margin-top: -60px;
      height: 1%;
    }
    html,
    body {
      width: 100%;
      height: 100%;
      margin-top: 80px;
      background-color: white;
      font-family: 'Roboto', sans-serif;
    }
    .shopping-cart {
      width: 850px;
      height: auto;
      margin: 80px auto;
      background: #FFFFFF;
      box-shadow: 1px 2px 3px 4px rgba(0,0,0,0.10) ;
      border-radius: 6px;

      display: flex;
      flex-direction: column;
    }

    .title {
      height: 60px;
      border-bottom: 1px solid #E1E8EE;
      padding: 15px 45px;
      color: #5E6977;
      font-size: 24px;
      font-weight: 400;
    }

    .item {
      padding: 20px 30px;
      height: 120px;
      display: flex;
      border-bottom: 1px solid #E1E8EE;
    }

    .item:nth-child(3) {
      border-bottom:  1px solid #E1E8EE;
    }

    .buttons {
      position: relative;
      padding-top: 30px;
      margin-right: 60px;
    }

    .delete-btn,
    .like-btn {
      display: inline-block;
      Cursor: pointer;
    }
    .delete-btn {
      width: 18px;
      height: 17px;
      background: url("../../static/img/delete-icn.svg") no-repeat center;
    }

    .like-btn {
      position: absolute;
      top: 31px;
      left: 35px;
      background: url("../../static/img/heart.svg");
      width: 18px;
      height: 17px;
      background-repeat: no-repeat;
    }
    .is-active {
      animation-name: bounce;
      animation-duration: .8s;
      animation-iteration-count: 1;
      animation-timing-function: steps(28);
      animation-fill-mode: forwards;
      background: url("../../static/img/321.svg")
    }

    @keyframes animate {
      0%   { background-position: left;  }
      50%  { background-position: right; }
      100% { background-position: right; }
    }

    Let’s add some basic style to  product name and description.
    .description {
      padding-top: 10px;
      margin-right: 160px;
      width: 115px;
    }

    .description span {
      display: block;
      font-size: 15px;
      color: #43484D;
      font-weight: 400;
      margin-left: 60px;
      padding-top: 20px;


    }

    .description span:first-child {
      margin-bottom: 5px;
    }
    .description span:last-child {
      font-weight: 300;
      margin-top: 8px;
      color: #86939E;
    }
    .quantity {
      padding-top: auto;
      margin-right: auto;
    }
    .quantity input {
      -webkit-appearance: none;
      border: none;
      text-align: center;
      width: 32px;
      font-size: 16px;
      color: #43484D;
      font-weight: 300;
      margin-right: -15px;
    }

    button[class*=btn] {
      width: 30px;
      height: 30px;
      background-color: #E1E8EE;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      margin-left: 15px;
    }
    .minus-btn img {
      margin-bottom: 5px;
    }
    .plus-btn img {
      margin-top: auto;
      width: 100%
    }

    button:focus,
    input:focus {
      outline:0;
    }
    .price_cell {
      width: 83px;
      padding-top: 27px;
      font-size: 20px;
      color: #43484D;
      font-weight: 100;
      position: absolute;
      left: 1150px;
    }
    @media (max-width: 800px) {
      .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
      }
      .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
      }

      .quantity,
      .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
      }
      .buttons {
        margin-right: 20px;
      }
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/cart1.js' %}"></script>
<script type="module" src="{% static 'js/order/del.js' %}"></script>
<script type="module" src="{% static 'js/helpers/cart_dynamics.js' %}"></script>
<script type="module" src="{% static 'js/helpers/del_order_dynamics.js' %}"></script>
{% endblock content %}